@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@model VocableMVC.Models.ViewModels.QuizStartVM

@{
    ViewBag.Title = "Vocable Helper";
    Layout = "_Layout";
}
<h1>Quiz</h1>
Översätt ordet från 

<select id="LanguageSelect1">
    <option>Svenska</option>
    <option>Engelska</option>
    <option>Franska</option>
    <option>Spanska</option>
    <option>Tyska</option>
</select>
till 
<select id="LanguageSelect2">
    <option>Engelska</option>
    <option>Svenska</option>
    <option>Franska</option>
    <option>Spanska</option>
    <option>Tyska</option>
</select>
i kategorin
<select id="CategorySelect">
    <option>Djur</option>
    <option>Fordon</option>
    <option>Frukt</option>
</select>

<br />
<p>@Model.MasterWord.Word</p>
<br />

<form asp-action="GetAnswer" method="get">
    <input type="hidden" name="vocableDictionaryId" value="@Model.MasterWord.Id" />
    <div>
        <label id="lab1">
            <input type="radio" class="inp" name="answer" value="@Model.SvarsOrden[0].AWord.JoinId" /> @Model.SvarsOrden[0].AWord.Word<br />
        </label>
        <br />
        <br />  
        <label id="lab2">
            <input type="radio" class="inp" name="answer" value="@Model.SvarsOrden[1].AWord.JoinId" /> @Model.SvarsOrden[1].AWord.Word<br />
        </label>
        <br />
        <br /><label id="lab3">
            <input type="radio" class="inp" name="answer" value="@Model.SvarsOrden[2].AWord.JoinId" /> @Model.SvarsOrden[2].AWord.Word<br />
        </label><br />
        <br />
    </div>
    <input type="button" class="svarabtn" id="answerButton" value="Svara"/>
    <div id="displayResult"></div>
    <br />
    <div id="displayScore"></div>

    @*<input type="button" value="Nästa ord" asp-action="Start" />*@
    <br />

    <a href="../Quiz/Start" class="nextword"><span class="arrow-right">Nästa ord</span></a>


</form>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>


<script>
    $(document).ready(function () {

        $('#answerButton').click(function () {
            var answerValue = $('input[name=answer]:checked').val();
            var vId = $('input[name=vocableDictionaryId]').val();
            $.ajax({
                url: "/Quiz/GetAnswer",
                type: "GET",
                data: { 'answer': answerValue, 'VocableDictionaryId': vId },
                success: function (returnJson) {
                    $("#displayResult").html(JSON.stringify(returnJson));
                    if (returnJson == "Rätt svar!") {
                        var button = document.getElementById("answerButton");
                        button.disabled = true;
                    }

                    GetScore();
                }
            });
        });
    });


    function GetScore() {
        $.ajax({
            url: "/Quiz/GetScore",
            type: "GET",
            success: function (returnJson) {
                $("#displayScore").html(JSON.stringify(returnJson))
            }
        });
    }
</script>
