@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@model VocableMVC.Models.ViewModels.QuizStartVM

@{
    ViewBag.Title = "Vocable Helper";
    Layout = "_Layout";
}
<h1>Quiz</h1>
Översätt ordet till engelska<br />
<br />
<p>@Model.MasterWord.Word</p>
<br />

<form asp-action="GetAnswer" method="get">
    <input type="hidden" name="vocableDictionaryId" value="@Model.MasterWord.Id" />
    <div>
        <label id="lab1">
            <input type="radio" class="inp" name="answer" value="@Model.SvarsOrden[0].AWord.JoinId" /> @Model.SvarsOrden[0].AWord.Word<br />
        </label>
        <br />
        <br />  
        <label id="lab2">
            <input type="radio" class="inp" name="answer" value="@Model.SvarsOrden[1].AWord.JoinId" /> @Model.SvarsOrden[1].AWord.Word<br />
        </label>
        <br />
        <br /><label id="lab3">
            <input type="radio" class="inp" name="answer" value="@Model.SvarsOrden[2].AWord.JoinId" /> @Model.SvarsOrden[2].AWord.Word<br />
        </label><br />
        <br />
    </div>
    <input type="button" class="btn btn-success" id="answerButton" value="Svara" />
    <div id="displayResult"></div>

    @*<input type="button" value="Nästa ord" asp-action="Start" />*@
    <br />

    <a href="../Quiz/Start">Nästa ord</a>


</form>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>


<script>
    $(document).ready(function () {

        $('#answerButton').click(function () {
            var answerValue = $('input[name=answer]:checked').val();
            var vId = $('input[name=vocableDictionaryId]').val();
            $.ajax({
                url: "/Quiz/GetAnswer",
                type: "GET",
                data: { 'answer': answerValue, 'VocableDictionaryId': vId },
                success: function (returnJson) {
                    $("#displayResult").html(JSON.data.stringify(returnJson))
                }
            });
        });
    });
</script>
